COLLECTION_SIZE=50
METADATA_URI=https://kina.sh/api/nfts/leaders/
CONTRACT_ADDRESS=0x5fbdb2315678afecb367f032d93f642f64180aa3
ETHERSCAN_API_KEY=ABC123ABC123ABC123ABC123ABC123ABC1
ROPSTEN_URL=https://eth-ropsten.alchemyapi.io/v2/<YOUR ALCHEMY KEY>
PRIVATE_KEY=0xabc123abc123abc123abc123abc123abc123abc123abc123abc123abc123abc1